.app-header {
    background-color: #333;
    color: white;
    padding: 2rem;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; 
    z-index: 1000; 
    margin-bottom: 30%;
  }
  
  .home-button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333; 
    color: white; 
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  .title-text {
    margin-left: 10px; 
    font-size: 24px; 
    font-weight: bold; 
    color: #ecebe9; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    letter-spacing: 1px; 
  }
  
  .home-button {
    background-color: #e6a223; 
    color: white; 
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 5px; 
    margin-right: 10px; 
    transition: background-color 0.3s; 
  }
  
  .home-button:hover {
    background-color: #4588a0;
  }